"db.sqlite3" 
*.pyc
".env"
*/static/
/geckodriver.log
/scratch-Todo-lists.py
/htmlcov/
/.coverage
aws/aws.txt
aws/common commands.txt
aws/numbmonke-tdd-django_credentials.csv
aws/steps for deployment
aws/tdd-django-key-aws.ppk
aws/tdd-django-key.pem
